<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Resumo Mensal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2><img src="https://img.icons8.com/ios-filled/50/f7931a/bitcoin.png" alt="Bitcoin" class="bitcoin-icon"> Resumo Mensal de Investimentos - {{ ano }}</h2>
        
        <table>
            <tr>
                <th>Mês</th>
                <th>Investimento (R$)</th>
                <th>Quantidade de BTC</th>
            </tr>
            {% for mes in resumo_mensal %}
            <tr>
                <td>{{ mes.mes }}</td>
                <td>{{ mes.investimento }}</td>
                <td>{{ mes.quantidade_btc }}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="{{ url_for('editar', ano=ano) }}" class="button">Editar</a>
        <a href="{{ url_for('index') }}" class="button">Voltar</a>
        <a href="{{ url_for('logout') }}" class="button logout-button">Sair</a>
    </div>
</body>
</html>
